body{
    background-image: url(pexels-petar-starcevic-2389130.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    color: azure;
    justify-content: center;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
.register{
    text-align: center;
    width: 45vw;
    border-radius: 15px;
}
    
.login{
    text-align: center;
    width: 45vw;
    border-radius: 15px;
}
#adiciona{
    width: 100px;
    background-color: whitesmoke;
    border-radius: 15px;
}
#logar{
    width: 100px;
    background-color: whitesmoke;
    border-radius: 15px;
}
input{
    width: 200px;
    height: 15px;
    border-radius: 15px;
}